# ==================================
# SECURITY CONFIGURATION
# ==================================
TOKEN=RANDOM_STRING_HERE
PROTECT_ROUTES=false

# ==================================
# APPLICATION CONFIGURATION
# ==================================
PORT=3333
RESTORE_SESSIONS_ON_START_UP=false
APP_URL=http://localhost:3333
LOG_LEVEL=silent

# ==================================
# BROWSER CONFIGURATION
# ==================================
CLIENT_PLATFORM='Whatsapp MD'
CLIENT_BROWSER='Chrome'
CLIENT_VERSION='4.0.0'

# ==================================
# INSTANCE CONFIGURATION
# ==================================
INSTANCE_MAX_RETRY_QR=2

# ==================================
# DATABASE CONFIGURATION
# ==================================
MONGODB_ENABLED=false
MONGODB_URL=mongodb://127.0.0.1:27017/whatsapp_chats
MONGODB_SESSIONS=whatsapp_sessions

# ==================================
# WEBHOOK CONFIGURATION
# ==================================
WEBHOOK_ENABLED=true
WEBHOOK_URL=https://webhook.site/5db5d912-840a-4109-86ed-4ed38ddda31f
WEBHOOK_ALLOWED_EVENTS=all
WEBHOOK_SEND_MEDIA=true
WEBHOOK_TYPE_MEDIA=do or base64

# ==================================
# MESSAGE CONFIGURATION
# ==================================
MARK_MESSAGES_READ=false
HIDDEN_PRESENCE=true

# ==================================
# DIGITAL OCEAN FILES CONFIGURATION
# ==================================
DIGITAL_OCEAN_ACCESS_KEY_ID="XXXX"
DIGITAL_OCEAN_SECRET_ACCESS_KEY="XXXX+XXX"
DIGITAL_OCEAN_BUCKET_NAME="XXXX-XXXX"
DIGITAL_OCEAN_END_POINT="sfo3.digitaloceanspaces.com"
DIGITAL_OCEAN_PATH_FOLDER="000/"